In [1]:
import csv
import datetime as datetime

In [2]:
def read_data(data):
    with open(data,'rb') as f:
        reader = csv.reader(f)
        results=list(reader)
    return results

In [3]:
file1 = ''
t160402 = read_data('data/turnstile_160402.txt')
#for line in t160402[0]:
#    print line

In [19]:
from collections import defaultdict

mtad = defaultdict(list)

fmt = '%m/%d/%Y %H:%M:%S'

for line in t160402[1:]:
    tkey = (line[0],line[1],line[2],line[3])
    da = datetime.datetime.strptime(line[6] +' ' + line[7],fmt)
    data = [da,line[9]]
    if tkey in mtad:
        mtad[tkey].append(data)
    else:
        mtad[tkey] = [data]

print tkey,data

('TRAM2', 'R469', '00-05-01', 'RIT-ROOSEVELT') [datetime.datetime(2016, 4, 1, 21, 0), '0000005554']

In [96]:
#Challenge 3:          # dict of days -> hist
c = 0
keys = mtad.keys()
for key in keys:
    data = mtad[key]
#    data.sort()
    oldday = 0              #data[0][0].date()
    start = int(data[0][1])
    
#    print key,start
#    print data        
    day_dict = {}
    diff =  int(data[5][1]) - start 
#    print "first", diff, data[0][0].date()
    day_dict[data[0][0].date()] = int(data[5][1])-start   
    
    
    for dt in data[1:]:
        
        
        day = dt[0].date()
        if oldday <> day:
            diff = int(dt[1]) - start
#            print "NEW DAY  ", day, diff
            oldday = day
            if day in day_dict:
                day_dict[day] = day_dict.get(day) + diff                 
            else:
                day_dict[day] = diff
            start = int(dt[1])
    c +=1
    print key, day_dict
#    if c>30:
#        break

('N134', 'R385', '00-00-00', 'ROCKAWAY BLVD') {datetime.date(2016, 3, 31): 1562, datetime.date(2016, 3, 26): 737, datetime.date(2016, 3, 27): 809, datetime.date(2016, 3, 28): 541, datetime.date(2016, 3, 29): 1400, datetime.date(2016, 3, 30): 1561, datetime.date(2016, 4, 1): 1530}
('N192', 'R336', '00-05-00', 'BEACH 60 ST') {datetime.date(2016, 3, 31): 1, datetime.date(2016, 3, 26): 0, datetime.date(2016, 3, 27): 0, datetime.date(2016, 3, 28): 0, datetime.date(2016, 3, 29): 0, datetime.date(2016, 3, 30): 0, datetime.date(2016, 4, 1): 0}
('PTH08', 'R540', '00-01-06', 'PATH WTC') {datetime.date(2016, 3, 31): 742, datetime.date(2016, 3, 26): 239, datetime.date(2016, 3, 27): 233, datetime.date(2016, 3, 28): 124, datetime.date(2016, 3, 29): 762, datetime.date(2016, 3, 30): 767, datetime.date(2016, 4, 1): 666}
('H016', 'R250', '00-00-02', 'GRAND ST') {datetime.date(2016, 3, 31): 383, datetime.date(2016, 3, 26): 181, datetime.date(2016, 3, 27): 191, datetime.date(2016, 3, 28): 117, datetime.date(2016, 3, 29): 339, datetime.date(2016, 3, 30): 380, datetime.date(2016, 4, 1): 336}
('A069', 'R044', '01-00-02', 'CHAMBERS ST') {datetime.date(2016, 3, 31): 1285, datetime.date(2016, 3, 26): 404, datetime.date(2016, 3, 27): 437, datetime.date(2016, 3, 28): 314, datetime.date(2016, 3, 29): 1142, datetime.date(2016, 3, 30): 1245, datetime.date(2016, 4, 1): 1289}
('R619', 'R059', '00-00-01', 'GRAND ARMY PLAZ') {datetime.date(2016, 3, 31): 1715, datetime.date(2016, 3, 26): 1014, datetime.date(2016, 3, 27): 1119, datetime.date(2016, 3, 28): 819, datetime.date(2016, 3, 29): 1651, datetime.date(2016, 3, 30): 1718, datetime.date(2016, 4, 1): 1750}
('N601', 'R319', '00-05-00', 'LEXINGTON AV/63') {datetime.date(2016, 3, 31): 3, datetime.date(2016, 3, 26): 0, datetime.date(2016, 3, 27): 0, datetime.date(2016, 3, 28): 0, datetime.date(2016, 3, 29): 2, datetime.date(2016, 3, 30): 1, datetime.date(2016, 4, 1): 1}
('N016A', 'R296', '00-00-02', '163 ST-AMSTERDM') {datetime.date(2016, 3, 31): 1964, datetime.date(2016, 3, 26): 1192, datetime.date(2016, 3, 27): 1275, datetime.date(2016, 3, 28): 986, datetime.date(2016, 3, 29): 1855, datetime.date(2016, 3, 30): 1959, datetime.date(2016, 4, 1): 2052}
('R190', 'R038', '00-00-02', '215 ST') {datetime.date(2016, 3, 31): 710, datetime.date(2016, 3, 26): 396, datetime.date(2016, 3, 27): 416, datetime.date(2016, 3, 28): 294, datetime.date(2016, 3, 29): 678, datetime.date(2016, 3, 30): 794, datetime.date(2016, 4, 1): 663}
('R409', 'R449', '01-00-00', 'E 149 ST') {datetime.date(2016, 3, 31): 218, datetime.date(2016, 3, 26): 245, datetime.date(2016, 3, 27): 263, datetime.date(2016, 3, 28): 242, datetime.date(2016, 3, 29): 365, datetime.date(2016, 3, 30): 415, datetime.date(2016, 4, 1): 467}
('N062', 'R011', '01-03-03', '42 ST-PORT AUTH') {datetime.date(2016, 3, 31): 2043, datetime.date(2016, 3, 26): 736, datetime.date(2016, 3, 27): 901, datetime.date(2016, 3, 28): 1044, datetime.date(2016, 3, 29): 2248, datetime.date(2016, 3, 30): 2144, datetime.date(2016, 4, 1): 2173}
('R200A', 'R041', '01-05-01', 'BOWLING GREEN') {datetime.date(2016, 3, 31): 0, datetime.date(2016, 3, 26): 0, datetime.date(2016, 3, 27): 0, datetime.date(2016, 3, 28): 0, datetime.date(2016, 3, 29): 0, datetime.date(2016, 3, 30): 0, datetime.date(2016, 4, 1): 0}
('N604', 'R342', '00-00-01', 'JAMAICA VAN WK') {datetime.date(2016, 3, 31): 1295, datetime.date(2016, 3, 26): 574, datetime.date(2016, 3, 27): 587, datetime.date(2016, 3, 28): 468, datetime.date(2016, 3, 29): 1193, datetime.date(2016, 3, 30): 1275, datetime.date(2016, 4, 1): 1228}
('R609', 'R056', '01-00-01', 'NEVINS ST') {datetime.date(2016, 3, 31): 1209, datetime.date(2016, 3, 26): 467, datetime.date(2016, 3, 27): 506, datetime.date(2016, 3, 28): 333, datetime.date(2016, 3, 29): 1176, datetime.date(2016, 3, 30): 1265, datetime.date(2016, 4, 1): 1328}
('J012', 'R379', '00-00-00', 'KOSCIUSZKO ST') {datetime.date(2016, 3, 31): 2136, datetime.date(2016, 3, 26): 1387, datetime.date(2016, 3, 27): 1398, datetime.date(2016, 3, 28): 1089, datetime.date(2016, 3, 29): 1912, datetime.date(2016, 3, 30): 2079, datetime.date(2016, 4, 1): 2171}
('N519', 'R461', '00-00-01', "B'WAY-LAFAYETTE") {datetime.date(2016, 3, 31): 1768, datetime.date(2016, 3, 26): 937, datetime.date(2016, 3, 27): 1055, datetime.date(2016, 3, 28): 639, datetime.date(2016, 3, 29): 1625, datetime.date(2016, 3, 30): 1805, datetime.date(2016, 4, 1): 1782}
('N020', 'R101', '00-00-05', '145 ST') {datetime.date(2016, 3, 31): 3998, datetime.date(2016, 3, 26): 2892, datetime.date(2016, 3, 27): 3044, datetime.date(2016, 3, 28): 2484, datetime.date(2016, 3, 29): 3698, datetime.date(2016, 3, 30): 4006, datetime.date(2016, 4, 1): 3822}
('H019', 'R294', '00-06-00', 'MORGAN AV') {datetime.date(2016, 3, 31): 1452, datetime.date(2016, 3, 26): 1270, datetime.date(2016, 3, 27): 1226, datetime.date(2016, 3, 28): 889, datetime.date(2016, 3, 29): 1248, datetime.date(2016, 3, 30): 1376, datetime.date(2016, 4, 1): 1363}
('A083', 'R125', '00-00-01', 'BROAD ST') {datetime.date(2016, 3, 26): 354, datetime.date(2016, 3, 29): 594, datetime.date(2016, 4, 1): 395, datetime.date(2016, 3, 27): 366, datetime.date(2016, 3, 28): 261}
('N067', 'R012', '00-06-00', '34 ST-PENN STA') {datetime.date(2016, 3, 31): 259, datetime.date(2016, 3, 26): 203, datetime.date(2016, 3, 27): 228, datetime.date(2016, 3, 28): 245, datetime.date(2016, 3, 29): 312, datetime.date(2016, 3, 30): 276, datetime.date(2016, 4, 1): 278}
('N131', 'R383', '00-00-01', '80 ST') {datetime.date(2016, 3, 31): 203, datetime.date(2016, 3, 26): 88, datetime.date(2016, 3, 27): 84, datetime.date(2016, 3, 28): 51, datetime.date(2016, 3, 29): 230, datetime.date(2016, 3, 30): 200, datetime.date(2016, 4, 1): 203}
('S102', 'R165', '00-05-00', 'TOMPKINSVILLE') {datetime.date(2016, 3, 31): 0, datetime.date(2016, 3, 26): 0, datetime.date(2016, 3, 27): 0, datetime.date(2016, 3, 28): 0, datetime.date(2016, 3, 29): 0, datetime.date(2016, 3, 30): 0, datetime.date(2016, 4, 1): 1}
('H023', 'R236', '00-06-00', 'DEKALB AV') {datetime.date(2016, 3, 31): 2206, datetime.date(2016, 3, 26): 1369, datetime.date(2016, 3, 27): 1500, datetime.date(2016, 3, 28): 1137, datetime.date(2016, 3, 29): 1966, datetime.date(2016, 3, 30): 2142, datetime.date(2016, 4, 1): 2248}
('N503', 'R021', '00-00-03', '42 ST-BRYANT PK') {datetime.date(2016, 3, 31): 1385, datetime.date(2016, 3, 26): 721, datetime.date(2016, 3, 27): 687, datetime.date(2016, 3, 28): 600, datetime.date(2016, 3, 29): 1208, datetime.date(2016, 3, 30): 1336, datetime.date(2016, 4, 1): 1552}
('R162', 'R166', '00-00-02', '79 ST') {datetime.date(2016, 3, 31): 1879, datetime.date(2016, 3, 26): 1377, datetime.date(2016, 3, 27): 1498, datetime.date(2016, 3, 28): 1095, datetime.date(2016, 3, 29): 1825, datetime.date(2016, 3, 30): 1882, datetime.date(2016, 4, 1): 1966}
('PTH08', 'R540', '00-04-07', 'PATH WTC') {datetime.date(2016, 3, 31): 2534, datetime.date(2016, 3, 26): 651, datetime.date(2016, 3, 27): 617, datetime.date(2016, 3, 28): 279, datetime.date(2016, 3, 29): 1990, datetime.date(2016, 3, 30): 2377, datetime.date(2016, 4, 1): 2632}
('N505', 'R022', '02-00-07', '34 ST-HERALD SQ') {datetime.date(2016, 3, 31): 1378, datetime.date(2016, 3, 26): 554, datetime.date(2016, 3, 27): 615, datetime.date(2016, 3, 28): 373, datetime.date(2016, 3, 29): 1359, datetime.date(2016, 3, 30): 1405, datetime.date(2016, 4, 1): 1495}
('C008', 'R099', '00-00-01', 'DEKALB AV') {datetime.date(2016, 3, 31): 1295, datetime.date(2016, 3, 26): 736, datetime.date(2016, 3, 27): 787, datetime.date(2016, 3, 28): 497, datetime.date(2016, 3, 29): 1121, datetime.date(2016, 3, 30): 1293, datetime.date(2016, 4, 1): 1270}
('N046', 'R281', '00-00-02', '72 ST') {datetime.date(2016, 3, 31): 2810, datetime.date(2016, 3, 26): 2100, datetime.date(2016, 3, 27): 2226, datetime.date(2016, 3, 28): 1841, datetime.date(2016, 3, 29): 2498, datetime.date(2016, 3, 30): 2722, datetime.date(2016, 4, 1): 2883}
('D012', 'R395', '00-00-00', 'KINGS HWY') {datetime.date(2016, 3, 31): 304, datetime.date(2016, 3, 26): 168, datetime.date(2016, 3, 27): 174, datetime.date(2016, 3, 28): 139, datetime.date(2016, 3, 29): 323, datetime.date(2016, 3, 30): 275, datetime.date(2016, 4, 1): 321}
('R116', 'R030', '00-05-02', 'CHAMBERS ST') {datetime.date(2016, 3, 31): 0, datetime.date(2016, 3, 26): 0, datetime.date(2016, 3, 27): 0, datetime.date(2016, 3, 28): 0, datetime.date(2016, 3, 29): 0, datetime.date(2016, 3, 30): 0, datetime.date(2016, 4, 1): 0}
('C015', 'R454', '00-00-00', 'PROSPECT AV') {datetime.date(2016, 3, 31): 127, datetime.date(2016, 3, 26): 34, datetime.date(2016, 3, 27): 39, datetime.date(2016, 3, 28): 34, datetime.date(2016, 3, 29): 125, datetime.date(2016, 3, 30): 133, datetime.date(2016, 4, 1): 135}
('N111', 'R284', '00-06-01', 'CLINTON-WASH AV') {datetime.date(2016, 3, 31): -1060, datetime.date(2016, 3, 26): -617, datetime.date(2016, 3, 27): -642, datetime.date(2016, 3, 28): -457, datetime.date(2016, 3, 29): -968, datetime.date(2016, 3, 30): -1065, datetime.date(2016, 4, 1): -1500}
('R286', 'R309', '00-00-03', '176 ST') {datetime.date(2016, 3, 31): 2033, datetime.date(2016, 3, 26): 1308, datetime.date(2016, 3, 27): 1405, datetime.date(2016, 3, 28): 992, datetime.date(2016, 3, 29): 1856, datetime.date(2016, 3, 30): 1957, datetime.date(2016, 4, 1): 1923}
('R245A', 'R051', '01-06-00', '59 ST') {datetime.date(2016, 3, 31): 655, datetime.date(2016, 3, 26): 144, datetime.date(2016, 3, 27): 171, datetime.date(2016, 3, 28): 125, datetime.date(2016, 3, 29): 608, datetime.date(2016, 3, 30): 695, datetime.date(2016, 4, 1): 644}
('N185', 'R417', '00-00-00', 'BEACH 98 ST') {datetime.date(2016, 3, 31): 217, datetime.date(2016, 3, 26): 72, datetime.date(2016, 3, 27): 70, datetime.date(2016, 3, 28): 55, datetime.date(2016, 3, 29): 209, datetime.date(2016, 3, 30): 207, datetime.date(2016, 4, 1): 192}
('N007A', 'R174', '00-00-00', '181 ST') {datetime.date(2016, 3, 31): 2368, datetime.date(2016, 3, 26): 1284, datetime.date(2016, 3, 27): 1353, datetime.date(2016, 3, 28): 1124, datetime.date(2016, 3, 29): 2236, datetime.date(2016, 3, 30): 2440, datetime.date(2016, 4, 1): 2432}
('R315', 'R406', '01-00-00', 'PROSPECT AV') {datetime.date(2016, 3, 31): 673, datetime.date(2016, 3, 26): 367, datetime.date(2016, 3, 27): 392, datetime.date(2016, 3, 28): 308, datetime.date(2016, 3, 29): 536, datetime.date(2016, 3, 30): 643, datetime.date(2016, 4, 1): 657}
('R284', 'R243', '00-00-00', '170 ST') {datetime.date(2016, 3, 31): 2167, datetime.date(2016, 3, 26): 1235, datetime.date(2016, 3, 27): 1273, datetime.date(2016, 3, 28): 799, datetime.date(2016, 3, 29): 948, datetime.date(2016, 3, 30): 2062, datetime.date(2016, 4, 1): 2377}
('R236', 'R045', '00-06-00', 'GRD CNTRL-42 ST') {datetime.date(2016, 3, 31): 2125, datetime.date(2016, 3, 26): 0, datetime.date(2016, 3, 27): 0, datetime.date(2016, 3, 28): 0, datetime.date(2016, 3, 29): 1788, datetime.date(2016, 3, 30): 1959, datetime.date(2016, 4, 1): 2010}
('N182', 'R414', '00-00-01', 'HOWARD BCH JFK') {datetime.date(2016, 3, 31): 572, datetime.date(2016, 3, 26): 324, datetime.date(2016, 3, 27): 370, datetime.date(2016, 3, 28): 377, datetime.date(2016, 3, 29): 580, datetime.date(2016, 3, 30): 569, datetime.date(2016, 4, 1): 518}
('JFK03', 'R536', '00-03-00', 'JFK JAMAICA CT1') {datetime.date(2016, 3, 31): 1022, datetime.date(2016, 3, 26): 640, datetime.date(2016, 3, 27): 778, datetime.date(2016, 3, 28): 1004, datetime.date(2016, 3, 29): 1036, datetime.date(2016, 3, 30): 910, datetime.date(2016, 4, 1): 1184}
('N051', 'R084', '02-03-01', '59 ST COLUMBUS') {datetime.date(2016, 3, 31): 2854, datetime.date(2016, 3, 26): 1237, datetime.date(2016, 3, 27): 1329, datetime.date(2016, 3, 28): 1191, datetime.date(2016, 3, 29): 2413, datetime.date(2016, 3, 30): 2568, datetime.date(2016, 4, 1): 2567}
('R182', 'R035', '00-03-02', '168 ST') {datetime.date(2016, 3, 31): 3761, datetime.date(2016, 3, 26): 1308, datetime.date(2016, 3, 27): 1459, datetime.date(2016, 3, 28): 978, datetime.date(2016, 3, 29): 3357, datetime.date(2016, 3, 30): 3825, datetime.date(2016, 4, 1): 3802}
('R203', 'R043', '00-03-02', 'WALL ST') {datetime.date(2016, 3, 31): 1885, datetime.date(2016, 3, 26): 1, datetime.date(2016, 3, 27): 1, datetime.date(2016, 3, 28): 0, datetime.date(2016, 3, 29): 1526, datetime.date(2016, 3, 30): 1852, datetime.date(2016, 4, 1): 1884}
('N001', 'R173', '01-05-01', 'INWOOD-207 ST') {datetime.date(2016, 3, 31): 0, datetime.date(2016, 3, 26): 0, datetime.date(2016, 3, 27): 0, datetime.date(2016, 3, 28): 0, datetime.date(2016, 3, 29): 0, datetime.date(2016, 3, 30): 0, datetime.date(2016, 4, 1): 0}
('B018', 'R184', '00-00-00', 'CORTELYOU RD') {datetime.date(2016, 3, 31): 2654, datetime.date(2016, 3, 26): 1491, datetime.date(2016, 3, 27): 1615, datetime.date(2016, 3, 28): 1224, datetime.date(2016, 3, 29): 2383, datetime.date(2016, 3, 30): 2535, datetime.date(2016, 4, 1): 2558}
('N556', 'R424', '00-00-01', 'AVENUE P') {datetime.date(2016, 3, 31): 829, datetime.date(2016, 3, 26): 400, datetime.date(2016, 3, 27): 416, datetime.date(2016, 3, 28): 338, datetime.date(2016, 3, 29): 824, datetime.date(2016, 3, 30): 851, datetime.date(2016, 4, 1): 792}
('A034', 'R170', '03-03-00', '14 ST-UNION SQ') {datetime.date(2016, 3, 31): 2105, datetime.date(2016, 3, 26): 1642, datetime.date(2016, 3, 27): 1785, datetime.date(2016, 3, 28): 1010, datetime.date(2016, 3, 29): 1641, datetime.date(2016, 3, 30): 1777, datetime.date(2016, 4, 1): 2197}
('R404', 'R447', '00-00-02', 'CYPRESS AV') {datetime.date(2016, 3, 31): 1067, datetime.date(2016, 3, 26): 509, datetime.date(2016, 3, 27): 536, datetime.date(2016, 3, 28): 432, datetime.date(2016, 3, 29): 856, datetime.date(2016, 3, 30): 998, datetime.date(2016, 4, 1): 1131}
('C017', 'R455', '00-00-00', '25 ST') {datetime.date(2016, 3, 31): 560, datetime.date(2016, 3, 26): 328, datetime.date(2016, 3, 27): 362, datetime.date(2016, 3, 28): 297, datetime.date(2016, 3, 29): 541, datetime.date(2016, 3, 30): 555, datetime.date(2016, 4, 1): 571}
('R610', 'R057', '00-06-03', 'ATL AV-BARCLAY') {datetime.date(2016, 3, 31): 377, datetime.date(2016, 3, 26): 40, datetime.date(2016, 3, 27): 62, datetime.date(2016, 3, 28): 234, datetime.date(2016, 3, 29): 378, datetime.date(2016, 3, 30): 354, datetime.date(2016, 4, 1): 345}
('A082', 'R028', '05-06-00', 'FULTON ST') {datetime.date(2016, 3, 31): 732, datetime.date(2016, 3, 26): 345, datetime.date(2016, 3, 27): 351, datetime.date(2016, 3, 28): 214, datetime.date(2016, 3, 29): 685, datetime.date(2016, 3, 30): 760, datetime.date(2016, 4, 1): 750}
('J012', 'R379', '00-00-02', 'KOSCIUSZKO ST') {datetime.date(2016, 3, 31): 1811, datetime.date(2016, 3, 26): 1198, datetime.date(2016, 3, 27): 1244, datetime.date(2016, 3, 28): 948, datetime.date(2016, 3, 29): 1692, datetime.date(2016, 3, 30): 1814, datetime.date(2016, 4, 1): 1823}
('R504', 'R276', '00-00-00', 'VERNON-JACKSON') {datetime.date(2016, 3, 31): 1728, datetime.date(2016, 3, 26): 816, datetime.date(2016, 3, 27): 877, datetime.date(2016, 3, 28): 756, datetime.date(2016, 3, 29): 1697, datetime.date(2016, 3, 30): 1764, datetime.date(2016, 4, 1): 1716}
('R237', 'R046', '01-00-03', 'GRD CNTRL-42 ST') {datetime.date(2016, 3, 31): 550, datetime.date(2016, 3, 26): 34, datetime.date(2016, 3, 27): 34, datetime.date(2016, 3, 28): 0, datetime.date(2016, 3, 29): 535, datetime.date(2016, 3, 30): 569, datetime.date(2016, 4, 1): 533}
('N526', 'R142', '02-06-00', 'DELANCEY/ESSEX') {datetime.date(2016, 3, 31): 130, datetime.date(2016, 3, 26): 66, datetime.date(2016, 3, 27): 68, datetime.date(2016, 3, 28): 37, datetime.date(2016, 3, 29): 100, datetime.date(2016, 3, 30): 113, datetime.date(2016, 4, 1): 102}
('N323', 'R018', '01-00-00', 'JKSN HT-ROOSVLT') {datetime.date(2016, 3, 31): 2859, datetime.date(2016, 3, 26): 1867, datetime.date(2016, 3, 27): 2090, datetime.date(2016, 3, 28): 1586, datetime.date(2016, 3, 29): 2666, datetime.date(2016, 3, 30): 2947, datetime.date(2016, 4, 1): 2990}
('H023', 'R236', '00-00-02', 'DEKALB AV') {datetime.date(2016, 3, 31): 2380, datetime.date(2016, 3, 26): 1239, datetime.date(2016, 3, 27): 1163, datetime.date(2016, 3, 28): 1321, datetime.date(2016, 3, 29): 2396, datetime.date(2016, 3, 30): 2477, datetime.date(2016, 4, 1): 2523}
('R421', 'R427', '00-03-00', 'MIDDLETOWN RD') {datetime.date(2016, 3, 31): 476, datetime.date(2016, 3, 26): 161, datetime.date(2016, 3, 27): 165, datetime.date(2016, 3, 28): 124, datetime.date(2016, 3, 29): 493, datetime.date(2016, 3, 30): 493, datetime.date(2016, 4, 1): 521}
('C004', 'R089', '01-05-00', 'JAY ST-METROTEC') {datetime.date(2016, 3, 31): 0, datetime.date(2016, 3, 26): 1, datetime.date(2016, 3, 27): 1, datetime.date(2016, 3, 28): 0, datetime.date(2016, 3, 29): 0, datetime.date(2016, 3, 30): 0, datetime.date(2016, 4, 1): 0}
('R637', 'R451', '00-06-00', 'WINTHROP ST') {datetime.date(2016, 3, 31): 668, datetime.date(2016, 3, 26): 190, datetime.date(2016, 3, 27): 207, datetime.date(2016, 3, 28): 173, datetime.date(2016, 3, 29): 613, datetime.date(2016, 3, 30): 665, datetime.date(2016, 4, 1): 620}
('R523', 'R147', '00-00-05', '61 ST WOODSIDE') {datetime.date(2016, 3, 31): 2216, datetime.date(2016, 3, 26): 1310, datetime.date(2016, 3, 27): 1343, datetime.date(2016, 3, 28): 1043, datetime.date(2016, 3, 29): 1943, datetime.date(2016, 3, 30): 2145, datetime.date(2016, 4, 1): 2181}
('R245A', 'R051', '01-00-00', '59 ST') {datetime.date(2016, 3, 31): 4361, datetime.date(2016, 3, 26): 2439, datetime.date(2016, 3, 27): 2572, datetime.date(2016, 3, 28): 1947, datetime.date(2016, 3, 29): 4173, datetime.date(2016, 3, 30): 4432, datetime.date(2016, 4, 1): 4458}
('N012', 'R035', '01-06-03', '168 ST') {datetime.date(2016, 3, 31): 3097, datetime.date(2016, 3, 26): 1934, datetime.date(2016, 3, 27): 2134, datetime.date(2016, 3, 28): 1610, datetime.date(2016, 3, 29): 2872, datetime.date(2016, 3, 30): 3010, datetime.date(2016, 4, 1): 3031}
('N528', 'R257', '01-00-00', 'EAST BROADWAY') {datetime.date(2016, 3, 31): 1885, datetime.date(2016, 3, 26): 1269, datetime.date(2016, 3, 27): 1374, datetime.date(2016, 3, 28): 1242, datetime.date(2016, 3, 29): 1797, datetime.date(2016, 3, 30): 1729, datetime.date(2016, 4, 1): 1817}
('R252', 'R180', '00-00-01', '103 ST') {datetime.date(2016, 3, 31): 2370, datetime.date(2016, 3, 26): 1298, datetime.date(2016, 3, 27): 1318, datetime.date(2016, 3, 28): 988, datetime.date(2016, 3, 29): 2171, datetime.date(2016, 3, 30): 2436, datetime.date(2016, 4, 1): 2380}
('R628', 'R064', '00-00-03', 'SARATOGA AV') {datetime.date(2016, 3, 31): 1671, datetime.date(2016, 3, 26): 1435, datetime.date(2016, 3, 27): 1535, datetime.date(2016, 3, 28): 1188, datetime.date(2016, 3, 29): 1723, datetime.date(2016, 3, 30): 1657, datetime.date(2016, 4, 1): 1694}
('R160A', 'R164', '00-00-00', '66 ST-LINCOLN') {datetime.date(2016, 3, 31): 2783, datetime.date(2016, 3, 26): 1308, datetime.date(2016, 3, 27): 1816, datetime.date(2016, 3, 28): 1026, datetime.date(2016, 3, 29): 2399, datetime.date(2016, 3, 30): 2691, datetime.date(2016, 4, 1): 2621}
('N602', 'R259', '00-05-01', 'ROOSEVELT ISLND') {datetime.date(2016, 3, 31): 0, datetime.date(2016, 3, 26): 0, datetime.date(2016, 3, 27): 0, datetime.date(2016, 3, 28): 0, datetime.date(2016, 3, 29): 0, datetime.date(2016, 3, 30): 0, datetime.date(2016, 4, 1): 0}
('R727', 'R430', '00-00-02', 'PELHAM PKWY') {datetime.date(2016, 3, 31): 1326, datetime.date(2016, 3, 26): 396, datetime.date(2016, 3, 27): 408, datetime.date(2016, 3, 28): 261, datetime.date(2016, 3, 29): 1215, datetime.date(2016, 3, 30): 1377, datetime.date(2016, 4, 1): 1351}
('A021', 'R032', '01-00-04', 'TIMES SQ-42 ST') {datetime.date(2016, 3, 31): 1025, datetime.date(2016, 3, 26): 138, datetime.date(2016, 3, 27): 159, datetime.date(2016, 3, 28): 72, datetime.date(2016, 3, 29): 952, datetime.date(2016, 3, 30): 1003, datetime.date(2016, 4, 1): 958}

IndexError: list index out of range

[[datetime.datetime(2016, 3, 26, 0, 0), '0000000017'], [datetime.datetime(2016, 3, 26, 4, 0), '0000000017'], [datetime.datetime(2016, 3, 26, 8, 0), '0000000017'], [datetime.datetime(2016, 3, 26, 12, 0), '0000000017'], [datetime.datetime(2016, 3, 26, 16, 0), '0000000017'], [datetime.datetime(2016, 3, 26, 20, 0), '0000000017'], [datetime.datetime(2016, 3, 27, 0, 0), '0000000017'], [datetime.datetime(2016, 3, 27, 4, 0), '0000000017'], [datetime.datetime(2016, 3, 27, 8, 0), '0000000017'], [datetime.datetime(2016, 3, 27, 12, 0), '0000000017'], [datetime.datetime(2016, 3, 27, 16, 0), '0000000017'], [datetime.datetime(2016, 3, 27, 20, 0), '0000000017'], [datetime.datetime(2016, 3, 28, 0, 0), '0000000017'], [datetime.datetime(2016, 3, 28, 4, 0), '0000000017'], [datetime.datetime(2016, 3, 28, 8, 0), '0000000017'], [datetime.datetime(2016, 3, 28, 12, 0), '0000000017'], [datetime.datetime(2016, 3, 28, 16, 0), '0000000017'], [datetime.datetime(2016, 3, 28, 20, 0), '0000000017'], [datetime.datetime(2016, 3, 29, 0, 0), '0000000017'], [datetime.datetime(2016, 3, 29, 4, 0), '0000000017'], [datetime.datetime(2016, 3, 29, 8, 0), '0000000017'], [datetime.datetime(2016, 3, 29, 12, 0), '0000000017'], [datetime.datetime(2016, 3, 29, 16, 0), '0000000017'], [datetime.datetime(2016, 3, 29, 20, 0), '0000000017'], [datetime.datetime(2016, 3, 30, 0, 0), '0000000017'], [datetime.datetime(2016, 3, 30, 4, 0), '0000000017'], [datetime.datetime(2016, 3, 30, 8, 0), '0000000017'], [datetime.datetime(2016, 3, 30, 12, 0), '0000000017'], [datetime.datetime(2016, 3, 30, 16, 0), '0000000017'], [datetime.datetime(2016, 3, 30, 20, 0), '0000000017'], [datetime.datetime(2016, 3, 31, 0, 0), '0000000017'], [datetime.datetime(2016, 3, 31, 4, 0), '0000000017'], [datetime.datetime(2016, 3, 31, 8, 0), '0000000017'], [datetime.datetime(2016, 3, 31, 12, 0), '0000000017'], [datetime.datetime(2016, 3, 31, 16, 0), '0000000017'], [datetime.datetime(2016, 3, 31, 20, 0), '0000000017'], [datetime.datetime(2016, 4, 1, 0, 0), '0000000017'], [datetime.datetime(2016, 4, 1, 4, 0), '0000000017'], [datetime.datetime(2016, 4, 1, 8, 0), '0000000017'], [datetime.datetime(2016, 4, 1, 12, 0), '0000000017'], [datetime.datetime(2016, 4, 1, 16, 0), '0000000017'], [datetime.datetime(2016, 4, 1, 20, 0), '0000000017']]